Repository prettier/prettier-vscode: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint

prettier:
  run: npm run prettier -- --write {staged_files}
  stage_fixed: true

lint:
  stage_fixed: true
  run: npm run lint

fix: resolve Windows ESM loader error (issue #3887)
  esbuild.mjs
  package-lock.json
  package.json
  src/ModuleResolverWeb.ts
  src/PrettierDynamicInstance.ts
  src/PrettierEditService.ts
  src/test/suite/ModuleResolverNode.test.ts
  src/utils/resolvers.ts
Due: prettier, lint

Update translation for createConfigFile in package.nls.zh-cn.json
  package.nls.zh-cn.json
Due: none

Fix untrusted workspace config resolution executing JS config files
  CHANGELOG.md
  src/ModuleResolverNode.ts
  src/message.ts
Due: prettier

Honor requireConfig in untrusted workspaces
  src/ModuleResolverNode.ts
Due: prettier

Security: Skip config resolution in untrusted workspaces (#3972)
  CHANGELOG.md
  src/ModuleResolverNode.ts
  src/message.ts
Due: prettier

Version 12.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add `prettier.parser` setting
  CHANGELOG.md
  README.md
  package.json
  package.nls.json
  package.nls.zh-cn.json
  package.nls.zh-tw.json
  src/ModuleResolverNode.ts
  src/PrettierEditService.ts
  src/test/suite/format.test.ts
  src/test/suite/formatTestUtils.ts
  test-fixtures/project/formatTest/markdown-in-txt.txt
  test-fixtures/project/formatTest/override-parser.jsonc
Due: prettier, lint

Path conditions:
  prettier: any of: **/*.{ts,json,md,yml,hbs,js,mjs}
  lint: any of: src/**/*.ts
