Repository prettier/prettier-vscode: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "**/*.{ts,json,md,yml,hbs,js,mjs}"
      run: npm run prettier -- --write {staged_files}
      stage_fixed: true
    lint:
      stage_fixed: true
      glob: "src/**/*.ts"
      run: npm run lint

Update badges
  README.md
Due: none

Revert publisher back to esbenp
  .devcontainer/devcontainer.json
  .github/copilot-instructions.md
  .vscode-test.mjs
  .vscode/extensions.json
  .vscode/settings.json
  CLAUDE.md
  README.md
  docs/troubleshooting.md
  package.json
  src/ModuleResolverNode.ts
  src/test/suite/testUtils.ts
  src/test/web/suite/smoke.test.ts
  test-fixtures/test.code-workspace
Due: prettier, lint

Update badges (#3897)
  README.md
Due: none

Fix web test by using stable VS Code and adding timeout
  .github/workflows/main.yaml
  src/test/web/runTests.ts
Due: prettier, lint

Revert publisher back to esbenp (#3899)
  .devcontainer/devcontainer.json
  .github/copilot-instructions.md
  .github/workflows/main.yaml
  .vscode-test.mjs
  .vscode/extensions.json
  .vscode/settings.json
  CLAUDE.md
  README.md
  docs/troubleshooting.md
  package.json
  src/ModuleResolverNode.ts
  src/test/suite/testUtils.ts
  src/test/web/runTests.ts
  src/test/web/suite/smoke.test.ts
  test-fixtures/test.code-workspace
Due: prettier, lint

Version 12.0.8
  package-lock.json
  package.json
Due: none

fix release script
  scripts/release.mjs
Due: prettier

Version 12.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix Yarn PnP SDK module resolution when prettierPath points to a file
  src/ModuleResolverNode.ts
  src/PrettierDynamicInstance.ts
Due: prettier

Add test for Yarn PnP SDK prettierPath file resolution
  CHANGELOG.md
  src/test/suite/yarn-pnp-sdk.test.ts
  test-fixtures/test.code-workspace
  test-fixtures/yarn-pnp-sdk/.vscode/settings.json
  test-fixtures/yarn-pnp-sdk/.yarn/sdks/prettier/index.cjs
  test-fixtures/yarn-pnp-sdk/.yarn/sdks/prettier/package.json
  test-fixtures/yarn-pnp-sdk/index.js
  test-fixtures/yarn-pnp-sdk/index.result.js
  test-fixtures/yarn-pnp-sdk/package.json
Due: prettier, lint

Refactor comment for clarity on modulePath usage
  src/PrettierDynamicInstance.ts
Due: prettier

Fix: support Yarn PnP SDK prettierPath entry file (#3911)
  CHANGELOG.md
  src/ModuleResolverNode.ts
  src/PrettierDynamicInstance.ts
  src/test/suite/yarn-pnp-sdk.test.ts
  test-fixtures/test.code-workspace
  test-fixtures/yarn-pnp-sdk/.vscode/settings.json
  test-fixtures/yarn-pnp-sdk/.yarn/sdks/prettier/index.cjs
  test-fixtures/yarn-pnp-sdk/.yarn/sdks/prettier/package.json
  test-fixtures/yarn-pnp-sdk/index.js
  test-fixtures/yarn-pnp-sdk/index.result.js
  test-fixtures/yarn-pnp-sdk/package.json
Due: prettier, lint

Fix: support Yarn PnP SDK prettierPath entry file (#3911) (#3914)
  CHANGELOG.md
  src/ModuleResolverNode.ts
  src/PrettierDynamicInstance.ts
  src/test/suite/yarn-pnp-sdk.test.ts
  test-fixtures/test.code-workspace
  test-fixtures/yarn-pnp-sdk/.vscode/settings.json
  test-fixtures/yarn-pnp-sdk/.yarn/sdks/prettier/index.cjs
  test-fixtures/yarn-pnp-sdk/.yarn/sdks/prettier/package.json
  test-fixtures/yarn-pnp-sdk/index.js
  test-fixtures/yarn-pnp-sdk/index.result.js
  test-fixtures/yarn-pnp-sdk/package.json
Due: prettier, lint

Version 12.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

update issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

[WIP] Fix issue with file types in settings.json (#3915)
  README.md
  docs/troubleshooting.md
Due: prettier

publish legacy extension
  .github/workflows/publish-legacy.yaml
  legacy/README.md
  legacy/extension.js
  legacy/icon.png
  legacy/package.json
Due: prettier

publish legacy extension (#3933)
  .github/workflows/publish-legacy.yaml
  legacy/README.md
  legacy/extension.js
  legacy/icon.png
  legacy/package.json
Due: prettier

remove main from legacy manifest
  legacy/extension.js
  legacy/package.json
Due: prettier

publish from branch
  .github/workflows/publish-legacy.yaml
Due: none

remove main from legacy manifest (#3934)
  .github/workflows/publish-legacy.yaml
  legacy/extension.js
  legacy/package.json
Due: prettier

Update legacy
  legacy/LICENSE
  legacy/package.json
Due: prettier

rename
  legacy/package.json
Due: prettier

update name
  legacy/package.json
Due: prettier

Update legacy (#3935)
  legacy/LICENSE
  legacy/package.json
Due: prettier

Fix source.fixAll.prettier respecting editor.defaultFormatter (#3908)
  CHANGELOG.md
  README.md
  src/PrettierCodeActionProvider.ts
  src/test/suite/codeAction.test.ts
  test-fixtures/test.code-workspace
  test-fixtures/workspace-explicit-prettier/.vscode/settings.json
  test-fixtures/workspace-explicit-prettier/test.js
  test-fixtures/workspace/test.js
Due: prettier, lint

Add delay and timeout to code action tests for CI stability
  src/test/suite/codeAction.test.ts
Due: prettier, lint

Fix source.fixAll.prettier respecting editor.defaultFormatter (#3908) (#3937)
  CHANGELOG.md
  README.md
  src/PrettierCodeActionProvider.ts
  src/test/suite/codeAction.test.ts
  test-fixtures/test.code-workspace
  test-fixtures/workspace-explicit-prettier/.vscode/settings.json
  test-fixtures/workspace-explicit-prettier/test.js
  test-fixtures/workspace/test.js
Due: prettier, lint

updated readme
  README.md
  package.json
Due: none

Version 12.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix file system watcher not detecting config changes on Windows
  src/PrettierEditService.ts
Due: prettier

Add test for config file watcher
  src/test/suite/config-watcher.test.ts
  test-fixtures/config/config-watcher/.prettierrc
  test-fixtures/config/config-watcher/test.js
Due: prettier, lint

Clear Prettier config cache when config file changes
  src/ModuleResolverWeb.ts
  src/PrettierEditService.ts
  src/types.ts
Due: prettier

Fix file system watcher not detecting config changes on Windows (#3938)
  src/ModuleResolverWeb.ts
  src/PrettierEditService.ts
  src/test/suite/config-watcher.test.ts
  src/types.ts
  test-fixtures/config/config-watcher/.prettierrc
  test-fixtures/config/config-watcher/test.js
Due: prettier, lint

Watch .prettierignore for cache invalidation
  CHANGELOG.md
  src/PrettierEditService.ts
Due: prettier

Use formatWithCursor() to preserve cursor position after formatting
  CHANGELOG.md
  src/ModuleResolverWeb.ts
  src/PrettierDynamicInstance.ts
  src/PrettierEditService.ts
  src/types.ts
Due: prettier

Watch .prettierignore for cache invalidation (#3943)
  CHANGELOG.md
  src/PrettierEditService.ts
Due: prettier

Allow formatting untitled files when requireConfig is enabled
  CHANGELOG.md
  src/ModuleResolverNode.ts
  src/test/suite/untitled-file.test.ts
Due: prettier, lint

Version 12.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
