Repository prettier/prettier-vscode: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{ts,json,md,yml,hbs,js,mjs}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "src/**/*.ts"
      run: pnpm lint

updated lefthook config
  lefthook.yml
  pnpm-workspace.yaml
Due: prettier

Updated eslint
  .eslintignore
  .eslintrc.js
  .vscode/settings.json
  .vscodeignore
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/install-fixtures.mjs
  src/BrowserModuleResolver.ts
  src/ModuleLoader.ts
  src/ModuleResolver.ts
  src/types.d.ts
  src/utils/global-node-paths.ts
  src/utils/resolve-config-plugins.ts
  src/utils/workspace.ts
  tsconfig.json
Due: prettier, lint

merge cleanup
  src/ModuleLoader.ts
  src/ModuleResolver.ts
  src/PrettierMainThreadInstance.ts
  src/utils/resolvers.ts
Due: prettier, lint

approve lefthook
  pnpm-workspace.yaml
Due: none

increased test timeout
  src/test/web/suite/smoke.test.ts
Due: prettier, lint

ignore tests in codeql
  .github/codeql/codeql-config.yml
  lefthook.yml
  pnpm-workspace.yaml
Due: prettier

Fix typo
  src/utils/resolvers.ts
Due: prettier, lint

Fix instructions
  .github/copilot-instructions.md
  .github/instructions/typescript.instructions.md
  CLAUDE.md
  CONTRIBUTING.md
Due: prettier

updated lefhook
  package.json
  pnpm-lock.yaml
Due: prettier

Refactoring and cleanup (#3835)
  .eslintignore
  .eslintrc.js
  .github/codeql/codeql-config.yml
  .github/copilot-instructions.md
  .github/instructions/typescript.instructions.md
  .husky/.gitignore
  .husky/pre-commit
  .vscode/settings.json
  .vscodeignore
  CLAUDE.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
  esbuild.mjs
  eslint.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/clean.mjs
  scripts/install-fixtures.mjs
  scripts/version.mjs
  src/BrowserModuleResolver.ts
  src/ModuleResolver.ts
  src/PrettierEditService.ts
  src/PrettierMainThreadInstance.ts
  src/extension.ts
  src/test/suite/module.test.ts
  src/test/suite/plugins.test.ts
  src/test/web/suite/smoke.test.ts
  src/types.d.ts
  src/utils/get-parser-from-language.ts
  src/utils/global-node-paths.ts
  src/utils/resolvers.ts
  src/utils/versions.ts
  src/utils/workspace.ts
  test-fixtures/plugins/yarn.lock
  tsconfig.json
  tsconfig.scripts.json
Due: prettier, lint

Upgrade typescript to latest
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier

updated release process
  .npmrc
  docs/publishing.md
  esbuild.mjs
  package.json
  scripts/clean.mjs
  scripts/release.mjs
  scripts/version.mjs
Due: prettier

fix rename
  .vscode/launch.json
  CLAUDE.md
  CONTRIBUTING.md
  package.json
Due: prettier

updated build
  esbuild.mjs
Due: prettier

updated types
  esbuild.mjs
Due: prettier

Upgrade typescript to latest (#3836)
  .github/dependabot.yml
  .npmrc
  .vscode/launch.json
  CLAUDE.md
  CONTRIBUTING.md
  docs/publishing.md
  esbuild.mjs
  package.json
  pnpm-lock.yaml
  scripts/clean.mjs
  scripts/release.mjs
  scripts/version.mjs
  tsconfig.json
Due: prettier

Use vscode/test-cli
  .npmrc
  .vscode-test.mjs
  esbuild.mjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/test/runTests.ts
  src/test/suite/ModuleResolver.test.ts
  src/test/suite/config.test.ts
  src/test/suite/esm-config.test.ts
  src/test/suite/format.test.ts
  src/test/suite/formatRanges.test.ts
  src/test/suite/ignore.test.ts
  src/test/suite/index.ts
  src/test/suite/module.test.ts
  src/test/suite/plugin-tailwindcss.test.ts
  src/test/suite/plugins.test.ts
  src/test/suite/v2-compat.test.ts
  src/test/suite/v3-plugin-override.test.ts
  src/test/suite/v3-plugins.test.ts
  src/test/suite/v3.test.ts
  src/test/web/runTests.ts
  src/test/web/suite/index.ts
Due: prettier, lint

Use vscode/test-cli (#3839)
  .npmrc
  .vscode-test.mjs
  esbuild.mjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/test/runTests.ts
  src/test/suite/ModuleResolver.test.ts
  src/test/suite/config.test.ts
  src/test/suite/esm-config.test.ts
  src/test/suite/format.test.ts
  src/test/suite/formatRanges.test.ts
  src/test/suite/ignore.test.ts
  src/test/suite/index.ts
  src/test/suite/module.test.ts
  src/test/suite/plugin-tailwindcss.test.ts
  src/test/suite/plugins.test.ts
  src/test/suite/v2-compat.test.ts
  src/test/suite/v3-plugin-override.test.ts
  src/test/suite/v3-plugins.test.ts
  src/test/suite/v3.test.ts
  src/test/web/runTests.ts
  src/test/web/suite/index.ts
Due: prettier, lint

added support for typescript config files
  CHANGELOG.md
  src/PrettierEditService.ts
  src/test/suite/ts-config.test.ts
  test-fixtures/test.code-workspace
  test-fixtures/ts-config/index.js
  test-fixtures/ts-config/index.result.js
  test-fixtures/ts-config/package.json
  test-fixtures/ts-config/prettier.config.ts
Due: prettier, lint

added support for typescript config files (#3840)
  CHANGELOG.md
  src/PrettierEditService.ts
  src/test/suite/ts-config.test.ts
  test-fixtures/test.code-workspace
  test-fixtures/ts-config/index.js
  test-fixtures/ts-config/index.result.js
  test-fixtures/ts-config/package.json
  test-fixtures/ts-config/prettier.config.ts
Due: prettier, lint

Handle file paths that start with file://
  src/utils/resolvers.ts
Due: prettier, lint

v11.1.0-preview.1
  package.json
Due: prettier

Handle file paths that start with file:// (#3841)
  src/utils/resolvers.ts
Due: prettier, lint

Update release script
  package.json
  scripts/release.mjs
Due: prettier

Update release script (#3842)
  package.json
  scripts/release.mjs
Due: prettier

v12.0.0-preview.1
  package.json
Due: prettier

Add all plugins to web version
  src/BrowserModuleResolver.ts
Due: prettier

Update release script to use prerelease versions
  scripts/release.mjs
Due: prettier

Add all plugins to web version (#3843)
  src/BrowserModuleResolver.ts
Due: prettier

Update release script to use prerelease versions (#3845)
  scripts/release.mjs
Due: prettier

Use npm and update bundling
  .claude/settings.json
  .devcontainer/devcontainer.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  .github/instructions/workflows.instructions.md
  .github/workflows/main.yaml
  .gitignore
  .prettierignore
  .vscodeignore
  CLAUDE.md
  CONTRIBUTING.md
  docs/publishing.md
  lefthook.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/install-fixtures.mjs
  scripts/release.mjs
Due: prettier

Add pnpm to main action
  .github/instructions/workflows.instructions.md
  .github/workflows/main.yaml
Due: prettier

Add missing package
  package-lock.json
  package.json
  scripts/release.mjs
Due: prettier

Use npm and update bundling (#3846)
  .claude/settings.json
  .devcontainer/devcontainer.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  .github/instructions/workflows.instructions.md
  .github/workflows/main.yaml
  .gitignore
  .prettierignore
  .vscodeignore
  CLAUDE.md
  CONTRIBUTING.md
  docs/publishing.md
  lefthook.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/install-fixtures.mjs
  scripts/release.mjs
Due: prettier

v12.0.1
  package.json
Due: prettier

v12.0.2-pre
  package.json
Due: prettier

update bundle to include prettier
  .github/workflows/main.yaml
  .vscodeignore
Due: none

update bundle to include prettier (#3847)
  .github/workflows/main.yaml
  .vscodeignore
Due: none

v12.0.3-pre
  package.json
Due: prettier

updated readme
  README.md
Due: prettier
