Repository prettier/prettier-vscode: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint

prettier:
  run: npm run prettier -- --write {staged_files}
  stage_fixed: true

lint:
  stage_fixed: true
  run: npm run lint

v12.0.4
  package.json
Due: none

Remove the worker instance
  .github/copilot-instructions.md
  .github/instructions/typescript.instructions.md
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  src/ModuleResolver.ts
  src/PrettierWorkerInstance.ts
  src/worker/prettier-instance-worker.js
Due: prettier

Remove dead code
  src/ModuleResolver.ts
Due: prettier

Clean build script
  esbuild.mjs
  eslint.config.mjs
Due: none

Linting
  README.md
Due: none

Migration notice
  CHANGELOG.md
  README.md
  package.json
Due: none

Add test for ESM config with plugin import statements
  src/test/suite/esm-plugin-import.test.ts
  test-fixtures/esm-plugin-import/index.result.ts
  test-fixtures/esm-plugin-import/index.ts
  test-fixtures/esm-plugin-import/package.json
  test-fixtures/esm-plugin-import/prettier.config.mts
  test-fixtures/test.code-workspace
Due: prettier, lint

Formatting
  src/test/suite/monorepo-subfolder.test.ts
  src/test/suite/plugin-tailwindcss.test.ts
  src/test/suite/v2-compat.test.ts
  src/test/suite/v3-plugin-override.test.ts
  src/test/suite/v3-plugins.test.ts
Due: prettier, lint

Update readme migraiton warning to remove github admonition
  README.md
Due: none

Simplify resolveModuleEntry to use Node's built-in resolution
  esbuild.mjs
  src/PrettierDynamicInstance.ts
  src/PrettierEditService.ts
  src/utils/resolve-module-entry.ts
Due: prettier, lint

Rename module resolver files with platform suffix
  .github/copilot-instructions.md
  .github/instructions/typescript.instructions.md
  CLAUDE.md
  esbuild.mjs
  src/ModuleResolverNode.ts
  src/ModuleResolverWeb.ts
  src/PrettierDynamicInstance.ts
  src/extension.ts
  src/test/suite/ModuleResolverNode.test.ts
Due: prettier, lint

Fix resolveModuleEntry to resolve from module's directory
  src/utils/resolve-module-entry.ts
Due: prettier, lint

Simplify plugin loading: pass paths to Prettier instead of pre-loading
  scripts/update-browser-languages.mjs
  src/ModuleResolverWeb.ts
  src/PrettierEditService.ts
  src/utils/resolve-module-entry.ts
Due: prettier, lint

Read package name from package.json instead of parsing path
  esbuild.mjs
  src/utils/resolve-module-entry.ts
Due: prettier, lint

Simplify plugin resolution to match Prettier CLI behavior
  src/PrettierDynamicInstance.ts
  src/PrettierEditService.ts
  src/utils/resolve-module-entry.ts
Due: prettier, lint

Fix plugin loading for Prettier v2 and improve module resolution
  src/PrettierEditService.ts
  src/utils/resolve-module-entry.ts
Due: prettier, lint

v12.0.5
  package.json
Due: none

formatting
  .prettierignore
  package-lock.json
  scripts/update-browser-languages.mjs
Due: prettier

Document language-overridable scope for Prettier settings in README (#3862)
  .prettierignore
  README.md
  package-lock.json
  scripts/update-browser-languages.mjs
  src/ModuleResolverWeb.ts
  src/PrettierDynamicInstance.ts
  src/PrettierEditService.ts
  src/test/suite/ModuleResolverNode.test.ts
Due: prettier, lint

Fix: Skip TextEdit when document already formatted (#3864)
  CHANGELOG.md
  src/PrettierEditService.ts
  src/test/suite/format.test.ts
  test-fixtures/project/formatTest/ugly.md
Due: prettier, lint

Log EditorConfig usage and resolved configuration to prevent silent config conflicts (#3867)
  src/ModuleResolverNode.ts
  src/PrettierEditService.ts
Due: prettier

Add test for .prettierrc with string reference to ESM config package (#3868)
  src/test/suite/string-esm-config.test.ts
  test-fixtures/string-esm-config/.prettierrc
  test-fixtures/string-esm-config/package.json
  test-fixtures/string-esm-config/test-prettier-config-esm/index.js
  test-fixtures/string-esm-config/test-prettier-config-esm/package.json
  test-fixtures/string-esm-config/test.js
  test-fixtures/string-esm-config/test.result.js
  test-fixtures/test.code-workspace
Due: prettier, lint

Add code action provider for formatting with Prettier (#3863)
  CHANGELOG.md
  README.md
  src/PrettierCodeActionProvider.ts
  src/PrettierEditService.ts
  src/test/suite/codeAction.test.ts
  src/test/suite/format.test.ts
Due: prettier, lint

Update actions with permissions and concurrency
  .github/workflows/dependabot.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/labels-sync.yaml
  .github/workflows/main.yaml
Due: none

Version 12.0.6
  package-lock.json
  package.json
Due: none

Update actions with permissions and concurrency (#3870)
  .github/workflows/dependabot.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/labels-sync.yaml
  .github/workflows/main.yaml
Due: none

Bump prettier version to 3.7.3
  package-lock.json
  package.json
Due: none

Publish to OpenVSX
  .github/workflows/main.yaml
  scripts/release.mjs
Due: prettier

Publish to OpenVSX (#3879)
  .github/workflows/main.yaml
  scripts/release.mjs
Due: prettier

Bump prettier version to 3.7.3 (#3876)
  package-lock.json
  package.json
Due: none

Version 12.0.7
  package-lock.json
  package.json
Due: none

publish to openvsx
  .github/workflows/main.yml
  README.md
  package.json
Due: prettier

Add "(Next)" suffix to extension name
  .claude/agents/vscode-translation-manager.md
  CHANGELOG.md
  docs/troubleshooting.md
  package.json
Due: prettier

Mark extension as Preview
  package.json
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  prettier: any of: **/*.{ts,json,md,yml,hbs,js,mjs}
  lint: any of: src/**/*.ts
